body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.home{
  background-image: url("/public/images/istockphoto-694189032-170667a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
#home-content{
  text-align: center;
  font-size: 70px;
  padding-top: 200px;
  color: white;
  font-style: italic;
  
}

.updateForm{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-left: 25%;
  margin-bottom:30px;
 
}
.submit{
  margin-top: 15px;
  width: 20%;
  background-color: rgb(17, 14, 14);
  color:white;
  margin-bottom: 25px;
  
}
.commentForm h1{
  padding-top: 30px;
  text-align: center;
 }
 
.commentForm{
  height:max-content;
  background-color: rgb(154, 154, 223);

 
}

.about{
display: flex;
width:100% ;
}